<div (focus)="onEditorFocus()" class="editor" id="angularEditor" [style.width]="config.width"
     [style.minWidth]="config.minWidth">
  <editor-toolbar #editorToolbar (execute)="executeCommand($event)"></editor-toolbar>

  <div class="editor-wrapper" #editorWrapper>
    <div #editor id="editor" class="editor-textarea" [attr.contenteditable]="config.editable"
         [attr.translate]="config.translate"
         [attr.spellcheck]="config.spellcheck" [style.height]="config.height" [style.minHeight]="config.minHeight" [style.maxHeight]="config.maxHeight"
         (input)="onContentChange($event.target.innerHTML)" (focus)="onTextAreaFocus()" (blur)="onTextAreaBlur($event)" (click)="exec()" (keyup)="exec()">
    </div>
    <span class="editor-placeholder">{{ placeholder || config['placeholder'] }}</span>
  </div>
</div>
